{% extends "qr/base.html" %}
{% block title %}Новая коробка{% endblock %}
{% load myfilters %}
{% block content %}
{% if sent %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Коробка создана!</strong> <a href="{% url 'qr:test' %}">Перейти к моим коробкам</a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="container">
        <a href="{% url 'apphome:home' %}">
            <div style="padding: 20px 0px 20px 0px">
              <i class="fa-solid fa-arrow-right fa-flip-horizontal fa-xl" style="color: #0a0a0a;"></i>
            </div>
        </a>
        <h1 class="border-bottom pb-2 mb-3">Новая коробка</h1>
        <div class="px-3 py-1 bg-body rounded shadow-sm mb-2">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Название коробки</label>
                    {{ form.title|addclass:'form-control' }}
                </div>
        </div>
        <div class="px-3 py-1 bg-body rounded shadow-sm mb-2">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Описание</label>
                {{ form.content|addclass:'form-control' }}
            </div>
        </div>
        
        <div class="px-3 py-2 bg-body rounded shadow-sm mb-3">
            <label for="exampleInputEmail1" class="form-label">Изображение содержимого коробки</label>
            <div>
                        <div class="mb-4 d-flex justify-content-center">
                            <img id="selectedImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                            alt="example placeholder" style="width: 300px;" />
                        </div>
                        <div class="d-flex justify-content-center">
                            {{ form.img|onchange:"displaySelectedImage(event, 'selectedImage')" }}
                        </div>
            </div>



        </div>
            
            <button type="submit" class="btn btn-primary qr-button btn-lg col-12">Создать</button>

    </div>


</form>

    



    <script>
        function displaySelectedImage(event, elementId) {
                const selectedImage = document.getElementById(elementId);
                const fileInput = event.target;
            
                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();
            
                    reader.onload = function(e) {
                        selectedImage.src = e.target.result;
                    };
            
                    reader.readAsDataURL(fileInput.files[0]);
                }

        }
    </script>
    
{% endblock %}