{% extends "registration/base_login.html" %}
{% load myfilters %}

{% block button %}

  <a href="{% url 'login' %}">
    <div class="p-3">
      <i class="fa-solid fa-arrow-right fa-flip-horizontal fa-xl" style="color: #0a0a0a;"></i>
    </div>
  </a>

  

{% endblock %}

{% block content %}

    <main class="container p-3 bg-body rounded shadow-sm">
    
      <h1 class="h3 mb-3 fw-normal">Введите email</h1>
      {% if form.email.errors %} 
        {{ form.email.errors }} 
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-floating">
            {{ form.email|addclass:'form-control mb-2' }}
            <label for="floatingInput">Email</label>
        </div>

        <input type="submit" class="btn btn-primary w-100 py-2" value="Сменить пароль" />
      </form>
    </main>
  
{% endblock %}



