{% extends "registration/base_login.html" %}
{% load myfilters %}

{% block button %}

    <a href="{% url 'login' %}">
      <div class="p-3">
        <i class="fa-solid fa-arrow-right fa-flip-horizontal fa-xl" style="color: #0a0a0a;"></i>
      </div>
    </a>

  

{% endblock %}

{% block content %}
  
  {% if validlink %}

    <main class="form-signin w-30 m-auto my-3 p-3 bg-body rounded shadow-sm ">
    
      <h1 class="h3 mb-3 fw-normal">Введите новый пароль</h1>
      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-floating">
            {{ form.new_password1|addclass:'form-control mb-2' }}
            <label for="floatingInput">Пароль 1</label>
        </div>

        <div class="form-floating">
            {{ form.new_password2|addclass:'form-control mb-2' }}
            <label for="floatingInput">Пароль 2</label>

        </div>
        <input type="submit" class="btn btn-primary w-100 py-2" value="Change my password" />
      </form>
    </main>
  {% else %}
    <h1>Password reset failed</h1>
    <p>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
  {% endif %}
  
{% endblock %}

  