{% extends "registration/base_login.html" %}

{% block content %}
  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Вам на почту отправленно письмо для сброса пароля</h1>
      <p class="lead">Почтовые клиенты:</p>
      <div class="d-flex">
        <p class="lead mr-10px"><a href="https://mail.yandex.ru/"><i class="fa-brands fa-yandex fa-2xl" style="color: #e41b1b;"></i></a></p>
        <p class="lead"><a href="https://mail.google.com/" style="margin-left: 20px;"><i class="fa-brands fa-google fa-2xl" style="color: #FFD43B;"></i></a></p>

      </div>
      
      <p class="lead"><a href="{% url 'apphome:home'%}">Перейти на главную страницу</a></p>
      <p>Войти в <a href="{% url 'login'%}">аккаунт</p>
    </div>
  </main>
{% endblock %}